@model financas.domain.Despesa
@{
    ViewBag.Title = "Edit";
}

<h2>Editar Dados de Despesa</h2>

<form action="/Despesa/Edit" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <label></label>
            <input class="form-control" 
                   type="hidden" 
                   name="id" 
                   value="@Model.id"/>
        </div>

        <div class="form-group">
            <label>Nome</label>
            <input class="form-control" 
                   type="text" 
                   name="nome" 
                   value="@Model.nome"/>
        </div>

        <div class="form-group">
            <label>Numero do Doc</label>
            <input class="form-control" 
                   type="text" 
                   name="numDoc" 
                   value="@Model.numDoc"/>
        </div>

        <div class="form-group">
            <label>Valor Gasto</label>
            <input class="form-control" 
                   type="text" 
                   name="valor" 
                   value="@Model.valor"/>
        </div>

        <div class="form-group">
            <label>Data do Gasto</label>
            <input class="form-control" 
                   type="text" 
                   name="data" 
                   value="@Model.data"/>
        </div>

        <div class="form-group">
            <label>Grupo de Despesa</label>
            <select class="form-control" name="GrupoDespesa.Id">
                    <option value="value">Selecione o Grupo de Despesa</option>

                    @foreach (financas.domain.GrupoDespesa item in ViewBag.GrupoDespesa)
                    {
                        <option value="@item.Id">@item.nomeGrupo</option>
                    }
                </select>
        </div>
        

        <div class="form-group">
            <input class="btn btn-primary"
                   type="submit" 
                   value="Salvar"/>
        </div>
    </div>
</form>